<!--
    NOTE: TAG div class="imgbox"
          MUST BE IN LINE -5
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gallery</title>
        <style>
            body, img{
                padding: 0;
                margin: 0;
                border: 0;
                text-align: center;
                font-size: 0;
            }

            img{
                width: 74%;
            }

           @media only screen and (max-width: 1080px) {
                img{
                    width: 100%;
                }
            }
        </style>
    </head>
    <body bgcolor="#131315">

    <img src="img-holder"></img>

    </body>
</html>
